apiVersion: apps/v1
kind: Deployment
metadata: 
  name: rp-pods
  labels:
    app: yellowapp
    env: dev
  namespace: dev-namespace
  annotations:
    myecrimage: 
spec:
  minReadySeconds: 6
  replicas: 4    
  selector: 
    matchExpression:
      - key: app 
        operator: In
        values:
          - yellowapp-pods
      - key: env
        operator: NotIn
        values:
          - dev
      - key: frontend
        operator: Exists
  strategy:
    type: RollingUpdate
    rollingUpdate: 
      maxSurge: 1
      maxUnavailable: 1
                   
  template:
    metadata:  
      name: podlevel-labels
      labels:
        app: yellowapp-pods
        env: prod
        frontend: web
    spec:
      containers:
        - name: yellowapp-pods
          image: rajashekarreddy234111/mycssimages:gamer
          ports:
            - name: yellowapp-ports
              containerPort: 80
              protocol: TCP
          startupProbe:  
            httpGet:
              path: "/rajashekar"
              port: 80
          livenessProbe: 
            tcpSocket: 
              port: 80
          readinessProbe:
            exec:
              command:
                - echo hi 
          resources:
            requests:
              cpu: 100M
              memory: 150Mi
            limits:
              cpu: 300M
              memory: 300Mi     