apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mycss-pods
  labels:
    app: yellowapp
    env: dev
  namespace: dev-namespace
  annotations:
     kubernetes.io/change-cause: "gamer-application"
spec:
  minReadySeconds: 6
  replicas: 4    
  selector: 
    matchExpression:
      - key: app 
        operator: In
        values:
          - yellowapp-pods
    
  strategy:
    type: RollingUpdate
    rollingUpdate: 
      maxSurge: 1
      maxUnavailable: 1
                   
  template:
    metadata:  
      name: podlevel-labels
      labels:
        app: yellowapp-pods
     
    spec:
      containers:
        - name: mycss-co
          image: rajashekarreddy234111/mycssimages:gamer  
          ports:
            - name: yellowapp-ports
              containerPort: 80
              protocol: TCP
          startupProbe:  
            httpGet:
              path: "/rajashekar"
              port: 80
          livenessProbe: 
            tcpSocket: 
              port: 80
          readinessProbe:
            exec:
              command:
                - echo hi 
          resources:
            requests:
              cpu: "500m"
              memory: "1500Mi"
            limits:
              cpu: "1800m"
              memory: "7500Mi" 